<!-- Sidebar -->
<div class="sidebar d-flex flex-column p-3 bg-light">
    </i><h1 class="text-center">SmartBuy</h1>
    <ul class="list-unstyled">
        <li class="mb-2"><a href="/admin/dashboard" class="d-flex align-items-center"><i class="fas fa-tachometer-alt me-2" style="color:#6d60e4 ;"></i> Dashboard</a></li>
        <li class="mb-2"><a href="/admin/product" class="d-flex align-items-center"><i class="fas fa-box me-2" style="color:#6d60e4 ;"></i> Products</a></li>
        <li class="mb-2"><a href="/admin/users" class="d-flex align-items-center"><i class="fas fa-users me-2" style="color:#6d60e4 ;"></i> Users</a></li>
        <li class="mb-2"><a href="#" class="d-flex align-items-center"><i class="fas fa-shopping-cart me-2" style="color:#6d60e4 ;"></i> Orders</a></li>
        <li class="mb-2"><a href="/admin/Category" class="d-flex align-items-center"><i class="fas fa-th-list me-2" style="color:#6d60e4 ;"></i> Category</a></li>
        <li class="mb-2"><a href="#" class="d-flex align-items-center"><i class="fas fa-tag me-2" style="color:#6d60e4 ;"></i> Coupons</a></li>
        <li class="mb-2"><a href="#" class="d-flex align-items-center"><i class="fas fa-gift me-2" style="color:#6d60e4 ;"></i> Offers</a></li>
        <li class="mb-2"><a href="#" class="d-flex align-items-center"><i class="fas fa-percent me-2" style="color:#6d60e4 ;"></i> Deals</a></li>
        <li class="mb-2"><a href="#" class="d-flex align-items-center"><i class="fas fa-cog me-2" style="color:#6d60e4 ;"></i> Settings</a></li>
    </ul>
</div>

<!-- Include Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
